<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="front.inicio">Tiempo Compartido</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': $state.is('busqueda') }"><a ui-sref="busqueda"><i class="fa fa-fw fa-search"></i> Busqueda</a></li>
        <li ng-class="{ 'active': $state.is('promociones') }"><a ui-sref="promociones"><i class="fa fa-fw fa-star"></i> Promociones</a></li>
        <li ng-class="{ 'active': $state.is('publicidades') }"><a ui-sref="publicidades"><i class="fa fa-fw fa-star"></i> Publicidad</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Login -->
        <li class="dropdown" ng-show="!logeado">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-lock"></i> Login
          </a>
          <div class="dropdown-menu dropdown-size-280">
            <form>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" ng-model="login.email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-shield"></i></span>
                  <input type="password" class="form-control" ng-model="login.password" placeholder="Password">
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-click="doLogin()">Login <i class="fa fa-sign-in"></i></button>
              </div>
            </form>
          </div>
        </li>
        <!-- // END login -->
        <!-- Sign up -->
        <li ng-show="!logeado" ng-class="{ 'active': $state.is('signup') }"><a ui-sref="signup"><i class="fa fa-fw fa-plus"></i> Registro</a></li>
        <!-- user -->
        <li class="dropdown user" ng-show="logeado">
          <a ng-href="" class="dropdown-toggle" data-toggle="dropdown">
            <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" /> ::username::<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="{ 'active': $state.is('perfil') }"><a ui-sref="perfil"><i class="fa fa-user"></i> Mi perfil</a></li>
            <li ng-class="{ 'active': $state.is('publicar') }"><a ui-sref="publicar"><i class="fa fa-home"></i> Publicar propiedad</a></li>
            <li ng-class="{ 'active': $state.is('mismembresias') }"><a ui-sref="mismembresias"><i class="fa fa-wrench"></i>Mis propiedades</a></li>
            <li ng-click="logout()"><a href="#"><i class="fa fa-sign-out" ></i>Logout</a></li>
          </ul>
        </li>
        <!-- // END user -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>