
    <section class="footer-section visible-lg" >
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <h4>Información</h4>
            <ul class="list-unstyled">
              <li><a href="front.quienes-somos" ui-sref="front.quienes-somos">Quienes somos</a></li>
              <li><a href="front.publicar-propiedad"  ui-sref="front.publicar-propiedad" >Publicar propiedades vacacionales</a></li>
              <li><a href="front.faqs" ui-sref="front.faqs">FAQS</a></li>
              <li><a href="front.condiciones-de-uso" ui-sref="front.condiciones-de-uso">Condiciones de úso</a></li>
              <li><a href="front.politicas-de-privacidad" ui-sref="front.politicas-de-privacidad">Políticas de privacidad</a></li>
              <li><a href="front.contacto" ui-sref="front.contacto">Contacto</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <h4>Quienes Somos</h4>
            <div class="panel bg-transparent margin-none">
              <div class="panel-body">
                <p>Somos una empresa que pone a tu disposición un medio para la libre difusión de propiedades y tiempos compartidos en venta y renta entre usuarios vacacionistas, sin comisiones ni intermediarios, ¡Consigue el mejor precio para tus vacaciones!.</p>
                <a href="busqueda"col-xs-12 ui-sref="busqueda" class="btn btn-info">Busca tus próximas vacaciones</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 text-center">
            <h4>Publica sin costo propiedades vacacionales</h4>
            <div class="panel bg-transparent margin-none">
              <div class="panel-body">
                <p>Publica tu tiempo compartido o propiedad vacacional sin costo alguno. ¡Aprovecha esta oportunidad!.</p>
              </div>
            </div>
            <a href="front.publicar-propiedad"col-xs-12 ui-sref="front.publicar-propiedad" class="btn btn-info">Publicar propiedades vacacionales</a>
          </div>
        </div>
      </div>
    </section>

