<div id="content">
	<div class="container">
		<div class="bg-white">
			<div class="container">
				<div class="page-section">
					<div class="text-center">
						<i class="fa fa-home fa-5x text-grey-300"></i>
						<h1 class="text-h2">Comprar Tiempos Compartidos</h1>
						<hr/>
						<p class="lead">¡Compra a precios directos de los propietarios!.</p>
						<p> ... </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'partials/subfooter.html'"></div>
</div>