<div id="content">
	<div class="bg-white">
		<div class="container">
			<div class="page-section">
				<div class="text-center">
					<i class="fa fa-home fa-5x text-grey-300"></i>
					<h1 class="text-h2">Condiciones de uso</h1>
					<hr/>
					<p class="lead">Garantias y Responsabilidades con Anunciantes y Usuarios.</p>
					<p> Mediante la aceptacion de los Terminos y Condiciones Generales en el momento de la inscripcion, el Usuario acepta las politicas aqui contenidas: </p>
					<p> tiempocompartido.com no asume ninguna responsabilidad y en ninguna forma avala o garantiza la exactitud de la informacion contenida y publicada por los Anunciantes. Nuestros servicios se limitan exclusivamente a los contratados por medio de nuestro sitio y no contamos con agentes de ventas, sucursales o representantes de ningun tipo fuera del contenido del sitio </p>
					<p> Es responsabilidad exclusiva de los involucrados que convengan negociar, como resultado de visitar o responder a la publicidad contenida en este sitio, el tomar la diligencia debida y necesaria para asegurarse de que todas las representaciones hechas por cualquier parte sean verdaderas y efectivas previamente para satisfaccion expresa de los involucrados. </p>
					<p> La informacion contenida en las publicaciones ni es confirmada ni autorizada por tiempocompartido.com. La confirmacion de la informacion publicada o adjunta es responsabilidad de la persona contratante o Usuario. </p>
					<p> Las respuestas a los comentarios de los Usuarios es responsabilidad exclusiva del Anunciante. </p>
					<p> Tanto Usuarios como Anunciantes pueden ser requeridos por tiempocompartido.com para proporcionar testimoniales sobre la utilizacion de la informacion obtenida en estas paginas. </p>
					<p> tiempocompartido.com se reserva el derecho de corregir, declinar o retirar cualquier anuncio o publicacion gratuita a su propia discrecion. Solo si una publicacion pagada es retirada por tiempocompartido.com puede dar derecho al Anunciante a un reembolso no mayor al equivalente al tiempo restante del termino acordado de publicacion de su anuncio. </p>
					<p> tiempocompartido.com se reserva el derecho de controlar el contenido del sitio y agregar o remover cualesquiera otra categoria o seccion actual del sitio. En el acontecimiento de interrupciones de suministro electrico o de actos fortuitos que pudieran ocasionar fallas en el cumplimiento de este servicio y esten fuera de nuestro control, el limite maximo por el cual tiempocompartido.com queda obligado es limitado a la cantidad de tiempo de publicacion pagada no proporcionada. </p>
					<p align="right">tiempocompartido.com</p>
				</div>
				<br/>
			</div>
		</div>
		<!-- // END .container -->
	</div>
	<!-- // END .bg-white -->
	<div data-ng-include="'partials/subfooter.html'"></div>
</div>