<div id="content">
	<div class="bg-white">
		<div class="page-section">
			<div class="container">
				<div class="page-section">
					<div class="text-center">
						<i class="fa fa-home fa-5x text-grey-300"></i>
						<h1 class="text-h2">Contacto</h1>
						<hr/>
						<p class="lead">Queremos saber de ti!.</p>
						<div class="container">
							<div class="row contact">
								<div class="col-md-offset-4 col-md-4 ">
									<form name="contactoForm">
										<div class="form-group">
											<input type="text" name="nombre" ng-model="contacto.nombre" class="form-control" placeholder="Nombre completo" required />
										</div>
										<div class="form-group">
											<input type="email" name="email" ng-model="contacto.email" class="form-control" placeholder="Dirección de correo electrónico" required />
										</div>
										<div class="form-group">
											<input type="text" name="telefono" ng-model="contacto.telefono" class="form-control" placeholder="Teléfono de contacto" required />
										</div>
										<div class="form-group">
											<input type="text" name="lenguaje" ng-model="contacto.lenguaje" class="form-control" placeholder="Lenguaje" required />
										</div>
										<div class="form-group">
											<textarea rows="6" name="mensaje" ng-model="contacto.mensaje" class="form-control" placeholder="Mensaje" required></textarea>
										</div>
										<div class="form-group">
											<button ng-click="postContacto(contacto)" class="btn btn-primary" name="Submit" data-ng-disabled="contactoForm.$invalid">Enviar mensaje</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-include="'partials/subfooter.html'"></div>
</div>