<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">


        <div class="page-header text-center">
          <i class="fa fa-home fa-5x text-grey-300"></i>
          <h3 class="text-h2">Editar propiedad</h3>
        </div>

        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Título de la publicación</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.titulo::" ng-model="membresia.titulo" name='titulo'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Club</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.club::" ng-model="membresia.club" name='club'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Pais</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.pais::" ng-model="membresia.pais" name='pais'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Estado</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.estado::" ng-model="membresia.estado" name='estado'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <div class="form-group">
                      <label>Ciudad</label>
                      <select  value="::membresia.ciudad::" ng-model="membresia.ciudad" name='ciudad' class="form-control" style="width:100%" data-toggle="select2"><optgroup label="Argentina"><option value="Bariloche" selected>Bariloche</option><option value="Buenos Aires">Buenos Aires</option><option value="Cabalango">Cabalango</option><option value="Capital Federal">Capital Federal</option><option value="Carlos Paz">Carlos Paz</option><option value="Caviahue">Caviahue</option><option value="Chapadmalal">Chapadmalal</option><option value="Costa Del Este">Costa Del Este</option><option value="Las Grutas">Las Grutas</option><option value="Las Le&amp;ntilde;as">Las Leñas</option><option value="Maipu">Maipu</option><option value="Malargue">Malargue</option><option value="Mar Del Plata">Mar Del Plata</option><option value="Pinamar">Pinamar</option><option value="San Bernardo">San Bernardo</option><option value="San Carlos De Bariloche">San Carlos De Bariloche</option><option value="San Carolos De Bariloche">San Carolos De Bariloche</option><option value="San Martin De Los Andes">San Martin De Los Andes</option><option value="Villa Carlos Paz">Villa Carlos Paz</option><option value="Villa La Angostura">Villa La Angostura</option></optgroup><optgroup label="Aruba"><option value="Aruba">Aruba</option><option value="Aruba-oranjestad">Aruba-oranjestad</option><option value="Eagle Beach">Eagle Beach</option><option value="Oranjestad">Oranjestad</option></optgroup><optgroup label="Belice"><option value="Cayo Ambergris">Cayo Ambergris</option></optgroup><optgroup label="Brasil"><option value="Buzios">Buzios</option><option value="Fortaleza">Fortaleza</option><option value="Porto Belo">Porto Belo</option></optgroup><optgroup label="Canada"><option value="Whistler">Whistler</option></optgroup><optgroup label="Chile"><option value="Con Con">Con Con</option><option value="Pucon">Pucon</option><option value="Re&amp;ntilde;aca">Reñaca</option><option value="Santiago">Santiago</option><option value="Vi&amp;ntilde;a Del Mar">Viña Del Mar</option><option value="Villarrica">Villarrica</option></optgroup><optgroup label="Colombia"><option value="Baq">Baq</option><option value="Bogota">Bogota</option><option value="Cartagena">Cartagena</option><option value="Santa Marta">Santa Marta</option></optgroup><optgroup rica="" label="Costa"><option value="10 Minutos De El Coco">10 Minutos De El Coco</option><option value="Alajuela">Alajuela</option><option value="Carrillo">Carrillo</option><option value="El Roble">El Roble</option><option value="El Roble Puntarenas">El Roble Puntarenas</option><option value="Guanacaste">Guanacaste</option><option value="La Cruz">La Cruz</option><option value="Liberia">Liberia</option><option value="Nicoya">Nicoya</option><option value="Playa Hermosa">Playa Hermosa</option><option value="Playas Del Coco">Playas Del Coco</option><option value="Puntarenas">Puntarenas</option><option value="Santa Cruz Gte.">Santa Cruz Gte.</option></optgroup><optgroup label="Ecuador"><option value="Gal&amp;aacute;pagos">Galápagos</option><option value="Salinas">Salinas</option></optgroup><optgroup label="España"><option value="Alfas Del Pi  Alicante">Alfas Del Pi  Alicante</option><option value="Alicante">Alicante</option><option value="Almeria">Almeria</option><option value="Benalmadena">Benalmadena</option><option value="Benalmadena-malaga">Benalmadena-malaga</option><option value="Cambrils">Cambrils</option><option value="Denia">Denia</option><option value="Gran Canaria">Gran Canaria</option><option value="Ibiza">Ibiza</option><option value="La Manga Del Mar Menor">La Manga Del Mar Menor</option><option value="Madrid">Madrid</option><option value="Malaga">Malaga</option><option value="Malaga - Benalmadena Costa">Malaga - Benalmadena Costa</option><option value="Mijas Costa Malaga">Mijas Costa Malaga</option><option value="Mostoles">Mostoles</option><option value="Oropesa Del Mar (castellon)">Oropesa Del Mar (castellon)</option><option value="Pe&amp;ntilde;iscola">Peñiscola</option><option value="Pe&amp;ntilde;iscola(castellon)">Peñiscola(castellon)</option><option value="Salou">Salou</option><option value="Salou Tarragona">Salou Tarragona</option><option value="Santa Cruz De Tenerife">Santa Cruz De Tenerife</option><option value="Tenerife">Tenerife</option><option value="Torrevieja(alicante)">Torrevieja(alicante)</option></optgroup><optgroup unidos="" label="Estados"><option value="Breckenridge">Breckenridge</option><option value="Canyon Lake">Canyon Lake</option><option value="Cleremont">Cleremont</option><option value="Fairfield Bay">Fairfield Bay</option><option value="Fort Lauderdale">Fort Lauderdale</option><option value="Fourt Laudardele">Fourt Laudardele</option><option value="Isla Del Padre">Isla Del Padre</option><option value="Kissimmee">Kissimmee</option><option value="Lake Buena Vista">Lake Buena Vista</option><option value="Las Vegas">Las Vegas</option><option value="Manhattan">Manhattan</option><option value="Miami">Miami</option><option value="Orlando">Orlando</option><option value="Pompano Beach">Pompano Beach</option><option value="Rio Grande">Rio Grande</option><option value="South Padre Island-isla Del Padre">South Padre Island-isla Del Padre</option><option value="Vail">Vail</option><option value="Waikoloa">Waikoloa</option><option value="Weston">Weston</option></optgroup><optgroup label="Jamaica"><option value="Main Street">Main Street</option></optgroup><optgroup label="Martinique"></optgroup><optgroup label="Mexico"><option value="Acapulco">Acapulco</option><option value="Acapulco Diamante">Acapulco Diamante</option><option value="Cabo San Lucas">Cabo San Lucas</option><option value="Cacun">Cacun</option><option value="Canc&amp;uacute;n">Cancún</option><option value="Chihuahua">Chihuahua</option><option value="Ciudad De Mexico">Ciudad De Mexico</option><option value="Coacalco">Coacalco</option><option value="Congregacion Canoas">Congregacion Canoas</option><option value="Cordoba">Cordoba</option><option value="Coyoacan">Coyoacan</option><option value="Cozumel">Cozumel</option><option value="Cuautitlan Izcalli">Cuautitlan Izcalli</option><option value="Cuernavaca">Cuernavaca</option><option value="Distrito Federal">Distrito Federal</option><option value="Durango">Durango</option><option value="Guadalajara">Guadalajara</option><option value="Hermosillo">Hermosillo</option><option value="Irapuato">Irapuato</option><option value="Ixtapa">Ixtapa</option><option value="Ixtapa Zihuatanejo">Ixtapa Zihuatanejo</option><option value="Jalisco">Jalisco</option><option value="Juarez">Juarez</option><option value="Leon">Leon</option><option value="Los Cabos">Los Cabos</option><option value="Manzanillo">Manzanillo</option><option value="Mazatl&amp;aacute;n">Mazatlán</option><option value="MazatlÃ&nbsp;n">MazatlÃ&nbsp;n</option><option value="Mexicali">Mexicali</option><option value="Mexico">Mexico</option><option value="Monterrey">Monterrey</option><option value="Morelia">Morelia</option><option value="P. Pe&amp;ntilde;aco">P. Peñaco</option><option value="Para Ser Usado En Cualquier Desarrollo De Royal Holiday Club">Para Ser Usado En Cualquier Desarrollo De Royal Holiday Club</option><option value="Places In Mexico">Places In Mexico</option><option value="Playa Del Carmen">Playa Del Carmen</option><option value="Puerto Morelos">Puerto Morelos</option><option value="Puerto Pe&amp;ntilde;asco">Puerto Peñasco</option><option value="Puerto Vallarta">Puerto Vallarta</option><option value="Queretaro">Queretaro</option><option value="Rio Lagartos">Rio Lagartos</option><option value="Riviera Maya">Riviera Maya</option><option value="Salamanca">Salamanca</option><option value="San Jose Del Cabo">San Jose Del Cabo</option><option value="San Luis Potosi">San Luis Potosi</option><option value="Santiago N.l.">Santiago N.l.</option><option value="Solidaridad">Solidaridad</option><option value="Talquepaque">Talquepaque</option><option value="Tapachula">Tapachula</option><option value="Tequesquitengo">Tequesquitengo</option><option value="Tequisqiapan">Tequisqiapan</option><option value="Tlalnepantla">Tlalnepantla</option><option value="Varios Destinos">Varios Destinos</option><option value="Varios Sitios">Varios Sitios</option><option value="Venustiano Carranza">Venustiano Carranza</option><option value="Villahermosa">Villahermosa</option><option value="Zapopan">Zapopan</option></optgroup><optgroup dominicana="" label="Republica"><option value="Bavaro">Bavaro</option><option value="Bavaro-punta Cana">Bavaro-punta Cana</option><option value="Bayahibe">Bayahibe</option><option value="Higuey">Higuey</option><option value="Higuey - Punta Cana">Higuey - Punta Cana</option><option value="Playa Bavaro">Playa Bavaro</option><option value="Punta Cana">Punta Cana</option><option value="Punta Cana (playa Bavaro)">Punta Cana (playa Bavaro)</option></optgroup><optgroup label="Uruguay"><option value="Punta Del Este">Punta Del Este</option><option value="Solanas">Solanas</option></optgroup><optgroup label="Venezuela"><option value="Margarita">Margarita</option><option value="Pampatar">Pampatar</option><option value="Pampatar/ Isla Margarita">Pampatar/ Isla Margarita</option><option value="Porlamar">Porlamar</option></optgroup></select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Afiliado</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.afiliado::" ng-model="membresia.afiliado" name='afiliado'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Características</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.caracteristicas::" ng-model="membresia.caracteristicas" name='caracteristicas'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Información Adicional</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.info_adicional::" ng-model="membresia.info_adicional" name='info_adicional'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Info Adicional Ingles</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.info_adicional_ingles::" ng-model="membresia.info_adicional_ingles" name='info_adicional_ingles'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Url</label>
                      <input required type='url' class="form-control" placeholder="" value="::membresia.url::" ng-model="membresia.url" name='url'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Tipo Semana</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.tipo_semana::" ng-model="membresia.tipo_semana" name='tipo_semana'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Tipo Unidad</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.tipo_unidad::" ng-model="membresia.tipo_unidad" name='tipo_unidad'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Tipo Unidad Ing</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.tipo_unidad_ing::" ng-model="membresia.tipo_unidad_ing" name='tipo_unidad_ing'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Lock Off</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.lock_off::" ng-model="membresia.lock_off" name='lock_off'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Sala</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.sala::" ng-model="membresia.sala" name='sala'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Dormitorios</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.dormitorios::" ng-model="membresia.dormitorios" name='dormitorios'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Baños</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.banos::" ng-model="membresia.banos" name='banos'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Tipo Cocina</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.tipo_cocina::" ng-model="membresia.tipo_cocina" name='tipo_cocina'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Capacidad con Privacidad</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.cap_privacidad::" ng-model="membresia.cap_privacidad" name='cap_privacidad'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Capacidad Máxima</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.cap_max::" ng-model="membresia.cap_max" name='cap_max'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Res Num Sem</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.res_num_sem::" ng-model="membresia.res_num_sem" name='res_num_sem'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Res Freq Sem</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.res_freq_sem::" ng-model="membresia.res_freq_sem" name='res_freq_sem'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Venta</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.venta::" ng-model="membresia.venta" name='venta'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Renta</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.renta::" ng-model="membresia.renta" name='renta'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Intercambio</label>
                      <input required type='numeric' class="form-control" placeholder="" value="::membresia.intercambio::" ng-model="membresia.intercambio" name='intercambio'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-control-default required">
                      <label>Importe Compra</label>
                      <input required type='text' class="form-control" placeholder="" value="::membresia.importe_compra::" ng-model="membresia.importe_compra" name='importe_compra'/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label-block" for="">Ocultar Importe</label>
                      <select ng-model="buscador.ocultar_importe" value="::membresia.ocultar_importe::" name="ocultar_importe" class="form-control" style="width:100%" data-toggle="select2">
                        <option value="si">Si</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">

                    <div class="form-group">
                      <label class="label-block" for="fecha_compra">Fecha Compra</label>
                      <div class="input-group date" ng-value="::membresia.fecha_compra::" date-picker ng-model="membresia.fecha_compra">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input  date-picker-input required ng-model="membresia.fecha_compra" id="fecha_compra" class="form-control" type="text" name='fecha_compra'  value="::membresia.fecha_compra::" />
                      </div>
                    </div>



                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  
                  <div class="form-group">
                    <label class="label-block" for="">Ocultar Fecha</label>
                    <select ng-model="buscador.ocultar_fecha" value="::membresia.ocultar_fecha::" name="ocultar_fecha" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">


                  <div class="form-group">
                    <label class="label-block" for="caducidad_compra">Fecha Caducidad</label>
                    <div class="input-group date" ng-value="::membresia.fecha_caducidad::" date-picker ng-model="membresia.caducidad_compra">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input  date-picker-input required ng-model="membresia.caducidad_compra" id="caducidad_compra" class="form-control" type="text" name='caducidad_compra'  value="::membresia.caducidad_compra::" />
                    </div>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label-block" for="">Sin Caducidad</label>
                    <select ng-model="buscador.sin_caducidad" value="::membresia.sin_caducidad::" name="sin_caducidad" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Años Restantes</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.anos_restantes::" ng-model="membresia.anos_restantes" name='anos_restantes'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Importe Mantenimiento</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.importe_mantenimiento::" ng-model="membresia.importe_mantenimiento" name='importe_mantenimiento'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <label class="label-block" for="entrada_renta">Entrada Renta</label>
                    <div class="input-group date" ng-value="::membresia.entrada_renta::" date-picker ng-model="membresia.entrada_renta">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input  date-picker-input required ng-model="membresia.entrada_renta" id="entrada_renta" class="form-control" type="text" name='entrada_renta'  value="::membresia.entrada_renta::" />
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">


                  <div class="form-group">
                    <label class="label-block" for="salida_renta">Salida Renta</label>
                    <div class="input-group date" ng-value="::membresia.salida_renta::" date-picker ng-model="membresia.salida_renta">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input  date-picker-input required ng-model="membresia.salida_renta" id="salida_renta" class="form-control" type="text" name='salida_renta'  value="::membresia.salida_renta::" />
                    </div>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Precio Renta</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.precio_renta:: | currency:"$":0::" ng-model="membresia.precio_renta" name='precio_renta'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Precio Venta</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.precio_venta:: | currency:"$":0::" ng-model="membresia.precio_venta" name='precio_venta'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Capacidad Intercambio</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.capacidad_inter::" ng-model="membresia.capacidad_inter" name='capacidad_inter'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Diferencia Intercambio</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.diferencia_inter:: | currency:"$":0::" ng-model="membresia.diferencia_inter" name='diferencia_inter'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label-block" for="">Moneda Renta</label>
                    <select ng-model="buscador.moneda_renta" value="::membresia.moneda_renta::" name="moneda_renta" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="Dolares">Dolares</option>
                      <option value="Pesos Mexicanos">Pesos Mexicanos</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label-block" for="">Moneda Venta</label>
                    <select ng-model="buscador.moneda_venta" value="::membresia.moneda_venta::" name="moneda_venta" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="Dolares">Dolares</option>
                      <option value="Pesos Mexicanos">Pesos Mexicanos</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label-block" for="">Estatus</label>
                    <select ng-model="buscador.status" value="::membresia.status::" name="status" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="activado">Activado</option>
                      <option value="">Desactivado</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Teléfono de Contacto</label>
                    <input required type='phone' class="form-control" placeholder="" value="::membresia.tel_contacto::" ng-model="membresia.tel_contacto" name='tel_contacto'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label-block" for="">Moneda Cuota</label>
                    <select ng-model="buscador.moneda_cuota" value="::membresia.moneda_cuota::" name="moneda_cuota" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="Dolares">Dolares</option>
                      <option value="Pesos Mexicanos">Pesos Mexicanos</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Fija Datos</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.fija_datos::" ng-model="membresia.fija_datos" name='fija_datos'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Puntos Datos</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.puntos_datos::" ng-model="membresia.puntos_datos" name='puntos_datos'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Noches Datos</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.noches_datos::" ng-model="membresia.noches_datos" name='noches_datos'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-control-default required">
                    <label>Flotante Datos</label>
                    <input required type='text' class="form-control" placeholder="" value="::membresia.flotante_datos::" ng-model="membresia.flotante_datos" name='flotante_datos'/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label-block" for="">Destacar</label>
                    <select ng-model="buscador.destacar" value="::membresia.destacar::" name="destacar" class="form-control" style="width:100%" data-toggle="select2">
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <label class="label-block" for="fecha_destacado">Fecha Destacado</label>
                    <div class="input-group date" ng-value="::membresia.fecha_destacado::" date-picker ng-model="membresia.fecha_destacado">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      <input  date-picker-input required ng-model="membresia.fecha_destacado" id="fecha_destacado" class="form-control" type="text" name='fecha_destacado'  value="::membresia.fecha_destacado::" />
                    </div>
                  </div>

                </div>
              </div>
              <p><input type='submit' class="btn btn-primary" value='Guardar cambios'  ng-click="saveEditMembresia(membresia,membresia.idMem)" /><input type='hidden' value='1' name='submitted' />
            </div>

            </div>
          </form>
          
          
        </div>
        <!-- // END .container -->
      </div>
      <!-- // END .bg-white -->
      
      <div data-ng-include="'partials/subfooter.html'"></div>
    </div>
    <!-- // END #content -->
    <script>
    $(function () {
  

    });
    </script>