<!--<div data-ng-include="'partials/carrusel.html'"></div>-->
<div data-ng-include="'partials/slider-full.html'"></div>
<div id="content">
  <div class="bg-white">
    <div class="inside-banner"  data-toggle="panel-collapse" data-open="true">
      <div class="container panel-heading panel-collapse-trigger" >
        <h2 class="">Búsqueda</h2>
      </div>
      <div class="panel-body container ">
        <div class="form-group">
          <div class="row">
            <div class="col-md-9">
              <select ng-model="buscador.ciudad" name="ciudad" class="form-control" data-toggle="select2">
                
                <option value="" selected>Selecciona un destino</option>

                <optgroup label="Argentina"><option value="Bariloche">Bariloche</option><option value="Buenos Aires">Buenos Aires</option><option value="Cabalango">Cabalango</option><option value="Capital Federal">Capital Federal</option><option value="Carlos Paz">Carlos Paz</option><option value="Caviahue">Caviahue</option><option value="Chapadmalal">Chapadmalal</option><option value="Costa Del Este">Costa Del Este</option><option value="Las Grutas">Las Grutas</option><option value="Las Le&amp;ntilde;as">Las Leñas</option><option value="Maipu">Maipu</option><option value="Malargue">Malargue</option><option value="Mar Del Plata">Mar Del Plata</option><option value="Pinamar">Pinamar</option><option value="San Bernardo">San Bernardo</option><option value="San Carlos De Bariloche">San Carlos De Bariloche</option><option value="San Carolos De Bariloche">San Carolos De Bariloche</option><option value="San Martin De Los Andes">San Martin De Los Andes</option><option value="Villa Carlos Paz">Villa Carlos Paz</option><option value="Villa La Angostura">Villa La Angostura</option></optgroup><optgroup label="Aruba"><option value="Aruba">Aruba</option><option value="Aruba-oranjestad">Aruba-oranjestad</option><option value="Eagle Beach">Eagle Beach</option><option value="Oranjestad">Oranjestad</option></optgroup><optgroup label="Belice"><option value="Cayo Ambergris">Cayo Ambergris</option></optgroup><optgroup label="Brasil"><option value="Buzios">Buzios</option><option value="Fortaleza">Fortaleza</option><option value="Porto Belo">Porto Belo</option></optgroup><optgroup label="Canada"><option value="Whistler">Whistler</option></optgroup><optgroup label="Chile"><option value="Con Con">Con Con</option><option value="Pucon">Pucon</option><option value="Re&amp;ntilde;aca">Reñaca</option><option value="Santiago">Santiago</option><option value="Vi&amp;ntilde;a Del Mar">Viña Del Mar</option><option value="Villarrica">Villarrica</option></optgroup><optgroup label="Colombia"><option value="Baq">Baq</option><option value="Bogota">Bogota</option><option value="Cartagena">Cartagena</option><option value="Santa Marta">Santa Marta</option></optgroup><optgroup rica="" label="Costa"><option value="10 Minutos De El Coco">10 Minutos De El Coco</option><option value="Alajuela">Alajuela</option><option value="Carrillo">Carrillo</option><option value="El Roble">El Roble</option><option value="El Roble Puntarenas">El Roble Puntarenas</option><option value="Guanacaste">Guanacaste</option><option value="La Cruz">La Cruz</option><option value="Liberia">Liberia</option><option value="Nicoya">Nicoya</option><option value="Playa Hermosa">Playa Hermosa</option><option value="Playas Del Coco">Playas Del Coco</option><option value="Puntarenas">Puntarenas</option><option value="Santa Cruz Gte.">Santa Cruz Gte.</option></optgroup><optgroup label="Ecuador"><option value="Gal&amp;aacute;pagos">Galápagos</option><option value="Salinas">Salinas</option></optgroup><optgroup label="España"><option value="Alfas Del Pi  Alicante">Alfas Del Pi  Alicante</option><option value="Alicante">Alicante</option><option value="Almeria">Almeria</option><option value="Benalmadena">Benalmadena</option><option value="Benalmadena-malaga">Benalmadena-malaga</option><option value="Cambrils">Cambrils</option><option value="Denia">Denia</option><option value="Gran Canaria">Gran Canaria</option><option value="Ibiza">Ibiza</option><option value="La Manga Del Mar Menor">La Manga Del Mar Menor</option><option value="Madrid">Madrid</option><option value="Malaga">Malaga</option><option value="Malaga - Benalmadena Costa">Malaga - Benalmadena Costa</option><option value="Mijas Costa Malaga">Mijas Costa Malaga</option><option value="Mostoles">Mostoles</option><option value="Oropesa Del Mar (castellon)">Oropesa Del Mar (castellon)</option><option value="Pe&amp;ntilde;iscola">Peñiscola</option><option value="Pe&amp;ntilde;iscola(castellon)">Peñiscola(castellon)</option><option value="Salou">Salou</option><option value="Salou Tarragona">Salou Tarragona</option><option value="Santa Cruz De Tenerife">Santa Cruz De Tenerife</option><option value="Tenerife">Tenerife</option><option value="Torrevieja(alicante)">Torrevieja(alicante)</option></optgroup><optgroup unidos="" label="Estados"><option value="Breckenridge">Breckenridge</option><option value="Canyon Lake">Canyon Lake</option><option value="Cleremont">Cleremont</option><option value="Fairfield Bay">Fairfield Bay</option><option value="Fort Lauderdale">Fort Lauderdale</option><option value="Fourt Laudardele">Fourt Laudardele</option><option value="Isla Del Padre">Isla Del Padre</option><option value="Kissimmee">Kissimmee</option><option value="Lake Buena Vista">Lake Buena Vista</option><option value="Las Vegas">Las Vegas</option><option value="Manhattan">Manhattan</option><option value="Miami">Miami</option><option value="Orlando">Orlando</option><option value="Pompano Beach">Pompano Beach</option><option value="Rio Grande">Rio Grande</option><option value="South Padre Island-isla Del Padre">South Padre Island-isla Del Padre</option><option value="Vail">Vail</option><option value="Waikoloa">Waikoloa</option><option value="Weston">Weston</option></optgroup><optgroup label="Jamaica"><option value="Main Street">Main Street</option></optgroup><optgroup label="Martinique"></optgroup><optgroup label="Mexico"><option value="Acapulco">Acapulco</option><option value="Acapulco Diamante">Acapulco Diamante</option><option value="Cabo San Lucas">Cabo San Lucas</option><option value="Cacun">Cacun</option><option value="Canc&amp;uacute;n">Cancún</option><option value="Chihuahua">Chihuahua</option><option value="Ciudad De Mexico">Ciudad De Mexico</option><option value="Coacalco">Coacalco</option><option value="Congregacion Canoas">Congregacion Canoas</option><option value="Cordoba">Cordoba</option><option value="Coyoacan">Coyoacan</option><option value="Cozumel">Cozumel</option><option value="Cuautitlan Izcalli">Cuautitlan Izcalli</option><option value="Cuernavaca">Cuernavaca</option><option value="Distrito Federal">Distrito Federal</option><option value="Durango">Durango</option><option value="Guadalajara">Guadalajara</option><option value="Hermosillo">Hermosillo</option><option value="Irapuato">Irapuato</option><option value="Ixtapa">Ixtapa</option><option value="Ixtapa Zihuatanejo">Ixtapa Zihuatanejo</option><option value="Jalisco">Jalisco</option><option value="Juarez">Juarez</option><option value="Leon">Leon</option><option value="Los Cabos">Los Cabos</option><option value="Manzanillo">Manzanillo</option><option value="Mazatl&amp;aacute;n">Mazatlán</option><option value="MazatlÃ&nbsp;n">MazatlÃ&nbsp;n</option><option value="Mexicali">Mexicali</option><option value="Mexico">Mexico</option><option value="Monterrey">Monterrey</option><option value="Morelia">Morelia</option><option value="P. Pe&amp;ntilde;aco">P. Peñaco</option><option value="Para Ser Usado En Cualquier Desarrollo De Royal Holiday Club">Para Ser Usado En Cualquier Desarrollo De Royal Holiday Club</option><option value="Places In Mexico">Places In Mexico</option><option value="Playa Del Carmen">Playa Del Carmen</option><option value="Puerto Morelos">Puerto Morelos</option><option value="Puerto Pe&amp;ntilde;asco">Puerto Peñasco</option><option value="Puerto Vallarta">Puerto Vallarta</option><option value="Queretaro">Queretaro</option><option value="Rio Lagartos">Rio Lagartos</option><option value="Riviera Maya">Riviera Maya</option><option value="Salamanca">Salamanca</option><option value="San Jose Del Cabo">San Jose Del Cabo</option><option value="San Luis Potosi">San Luis Potosi</option><option value="Santiago N.l.">Santiago N.l.</option><option value="Solidaridad">Solidaridad</option><option value="Talquepaque">Talquepaque</option><option value="Tapachula">Tapachula</option><option value="Tequesquitengo">Tequesquitengo</option><option value="Tequisqiapan">Tequisqiapan</option><option value="Tlalnepantla">Tlalnepantla</option><option value="Varios Destinos">Varios Destinos</option><option value="Varios Sitios">Varios Sitios</option><option value="Venustiano Carranza">Venustiano Carranza</option><option value="Villahermosa">Villahermosa</option><option value="Zapopan">Zapopan</option></optgroup><optgroup dominicana="" label="Republica"><option value="Bavaro">Bavaro</option><option value="Bavaro-punta Cana">Bavaro-punta Cana</option><option value="Bayahibe">Bayahibe</option><option value="Higuey">Higuey</option><option value="Higuey - Punta Cana">Higuey - Punta Cana</option><option value="Playa Bavaro">Playa Bavaro</option><option value="Punta Cana">Punta Cana</option><option value="Punta Cana (playa Bavaro)">Punta Cana (playa Bavaro)</option></optgroup><optgroup label="Uruguay"><option value="Punta Del Este">Punta Del Este</option><option value="Solanas">Solanas</option></optgroup><optgroup label="Venezuela"><option value="Margarita">Margarita</option><option value="Pampatar">Pampatar</option><option value="Pampatar/ Isla Margarita">Pampatar/ Isla Margarita</option><option value="Porlamar">Porlamar</option></optgroup></select>
            </div>
            <div class="col-md-3">
              <button class="btn btn-block btn-info float-right"  ng-click="busqueda(buscador)">Buscar/Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="page-section">
      <div class="text-center">
        <i class="fa fa-home fa-5x text-grey-300"></i>
        <h1 class="text-h2">¿Buscas vacaciones de calidad y al mejor precio para toda la familia?</h1>
        <hr/>
        <p class="lead">Experimenta una diferente forma de vacacionar, disfruta de un tiempo compartido en los clubes mas importantes del mundo haciendo trato directo con los propietarios, sin intermediación! consiguiendo los mejores precios!, ¿que esperas?, esta oportunidad es única, comienza ahora!.</p>
      </div>
      <br/>
    </div>
    <div class="page-section">
      <div class="row">
        <div class="col-md-8">
          <div class="text-left">
            <h1 class="text-h2">Propiedades destacadas</h1>
          </div>
          <div class="panel panel-default " ng-repeat="membresia in membresias_destacadas">
            <div class="panel-body">
              <div class="media media-clearfix-xs media-clearfix-sm">
                <div class="media-left">
                  <p>
                    <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::">
                      <div class="cover hover margin-none">
                        <img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::"  width="150" class="media-object" />
                      </div>
                    </a>
                  </p>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    ::membresia.ciudad::, ::membresia.estado::, ::membresia.pais::
                  </div>
                  <h4 class="media-heading margin-v-0-10">
                  <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::" ui-sref="front.property">::membresia.club::</a>
                  <small class="text-grey-400"><i class="fa fa-clock-o fa-fw"></i>::membresia.fecha::</small>
                  </h4>
                  <p>
                    <span class="label label-grey-100" ng-show="membresia.tipo_unidad"><i class="fa fa-fw icon icon-home-2"></i> ::membresia.tipo_unidad::</span>
                    <span class="label label-grey-100" ng-show="membresia.dormitorios"><i class="fa fa-fw icon icon-bed"></i> ::membresia.dormitorios:: Cuartos</span>
                    <span class="label label-grey-100" ng-show="membresia.banos"><i class="fa fa-fw icon icon-toilet"></i> ::membresia.banos:: Baños</span>
                    <span class="label label-grey-100" ng-show="membresia.cap_max"><i class="fa fa-fw fa-user text-red-500"></i> ::membresia.cap_max:: Personas máx.</span>
                    <span class="label label-grey-100" ng-show="membresia.tipo_cocina"><i class="fa fa-kitchen icon icon-food"></i> ::membresia.tipo_cocina::</span>
                    <span class="label label-grey-100" ng-show="membresia.sala"><i class="fa fa-fw icon icon-star"></i> Sala</span>
                    <span class="label label-grey-100" ng-show="membresia.tipo_semana"><i class="fa fa-star icon icon-star"></i> Tipo de semana ::membresia.tipo_semana::</span>
                  </p>
                  <p class="margin-none">::membresia.informacion::</p>
                  <div class="text-center small">
                    <span class="label bg-success" ng-show="membresia.precio_venta > 0">Venta ::membresia.precio_venta | currency:"$":0:: ::membresia.moneda_venta::</span>
                    <span class="label bg-primary" ng-show="membresia.precio_renta > 0">Renta ::membresia.precio_renta | currency:"$":0:: ::membresia.moneda_renta::</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="page-section">
          <div class="text-center">
            <h1 class="text-h2">Propiedades destacadas</h1>
            <hr/>
          </div>
          <section class="row gridalicious" data-toggle="gridalicious" data-width="300">
            <div class="panel panel-default relative" data-ng-repeat="membresia in membresias_destacadas">
              <div class="ribbon-heading h4 inline absolute left margin-none ribbon-primary">::membresia.ciudad::</div>
              <div class="cover hover overlay margin-none">
                <div class="overlay overlay-bg-black">
                  <div class="v-bottom">
                    <h4 class="text-h5 text-overlay margin-v-0-10 text-uppercase">Club ::membresia.club::</h4>
                  </div>
                </div>
                <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::" class="overlay overlay-full overlay-bg-black overlay-hover">
                  <span class="v-center">
                    <p class="text-white">::membresia.informacion::</p>
                    
                    <div class="well bg-default text-left">
                      <p class="" ng-show="membresia.renta">Precio Renta: <strong>::membresia.precio_renta | currency:"$":0::</strong> <small>::membresia.moneda_renta::</small> <strong ng-show="membresia.precio_neg_renta">Negociable</strong></p>
                      <p class="" ng-show="membresia.venta">Precio Venta: <strong>::membresia.precio_venta | currency:"$":0::</strong> <small>::membresia.moneda_venta::</small> <strong ng-show="membresia.precio_neg_venta">Negociable</strong></p>
                      <p class="" ng-show="membresia.tipo_semana_bool"><small>Tipo de semana: </small> <strong >::membresia.tipo_semana::</strong></p>
                    </div>
                  </span>
                </a>
                <a ui-sref="front.property">
                  <img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::" class="img-responsive" />
                </a>
              </div>
            </div>
          </section>
        </div>
        -->
        <div class="col-md-4 text-center">
          <i class="fa fa-home fa-5x text-grey-300"></i>
          <h1 class="text-h2">¿Quienes somos?</h1>
          <hr/>
          <p class="lead">Somos una empresa que pone a tu disposición un medio para la libre difusión de propiedades y tiempos compartidos en venta y renta entre usuarios vacacionistas, sin comisiones ni intermediarios, ¡Consigue el mejor precio para tus vacaciones!.</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa fa-star fa-5x text-grey-300"></i>
          <h1 class="text-h2">Promociones</h1>
          <hr/>
          <p class="lead">Aprovecha una Promoción para probar y conocer un Resort sin compromiso de compra.</p>
          <div class="well"  ng-repeat="promocion in promociones" >
            <a target="::promocion.target::" ng-href="promociones/::promocion.enlace::/::promocion.id::/" title="::promocion.titulo::">
              <div class="cover hover margin-none">
                <img ng-src="http://www.tiempocompartido.com/galeria/promociones/::promocion.tamano::/::promocion.imagen::" alt="::promocion.titulo::"  width="::promocion.tamano::" height="::promocion.alto::" class="media-object" style="margin: 0 auto;" />
                <p>::promocion.descripcion::</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-section">
      <br/>
      <div class="page-header text-center">
        <i class="fa fa-share fa-5x text-grey-300"></i>
        <h3 class="text-h2">Publica tu propiedad sin costo!</h3>
      </div>
      <div class="row text-center">
        <p class="lead">
        En Tiempo Compartido te regalamos el medio para poder vender, comprar o rentar tu propiedad vacacional o tiempo compartido, tan solo sigue estos pasos:</p>
        
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          
          <p class="lead">Primeramente</p>
          <a href="signup" class="btn btn-info circle-button">Crea una cuenta</a>
        </div>
        <div class="col-md-4 text-center">
          
          <p class="lead">Si ya tienes una cuenta</p>
          <a href="login" class="btn btn-info circle-button">Accesa al sistema</a>
        </div>
        <div class="col-md-4 text-center">
          <p class="lead">Desde tus opciones</p>
          <a href="publicar" class="btn btn-info circle-button">Publica tu propiedad</a>
        </div>
      </div>
    </div>
    <div class="page-section">
      <div class="page-header text-center">
        <i class="fa fa-home fa-5x text-grey-300"></i>
        <h1 class="text-h2">Propiedades recien publicadas</h1>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <div class="well"  ng-repeat="publicidad in publicidades" >
            <a target="::publicidad.target::" ng-href="publicidad/::publicidad.enlace::/::publicidad.id::/" title="::publicidad.titulo::">
              <div class="cover hover margin-none">
                <img ng-src="http://www.tiempocompartido.com/galeria/publicidad/::publicidad.tamano::/::publicidad.imagen::" alt="::publicidad.titulo::"  width="::publicidad.tamano::" height="::publicidad.alto::" class="media-object" />
                <p>::publicidad.descripcion::</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default " ng-repeat="membresia in membresias_recientes">
            <div class="panel-body">
              <div class="media media-clearfix-xs media-clearfix-sm">
                <div class="media-left">
                  <p>
                    <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::">
                      <div class="cover hover margin-none">
                        <img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::"  width="150" class="media-object" />
                      </div>
                    </a>
                  </p>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    ::membresia.ciudad::, ::membresia.estado::, ::membresia.pais::
                  </div>
                  <h4 class="media-heading margin-v-0-10">
                  <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::" ui-sref="front.property">::membresia.club::</a>
                  <small class="text-grey-400"><i class="fa fa-clock-o fa-fw"></i>::membresia.fecha::</small>
                  </h4>
                  <p>
                    <span class="label label-grey-100" ng-show="membresia.tipo_unidad"><i class="fa fa-fw icon icon-home-2"></i> ::membresia.tipo_unidad::</span>
                    <span class="label label-grey-100" ng-show="membresia.dormitorios"><i class="fa fa-fw icon icon-bed"></i> ::membresia.dormitorios:: Cuartos</span>
                    <span class="label label-grey-100" ng-show="membresia.banos"><i class="fa fa-fw icon icon-toilet"></i> ::membresia.banos:: Baños</span>
                    <span class="label label-grey-100" ng-show="membresia.cap_max"><i class="fa fa-fw fa-user text-red-500"></i> ::membresia.cap_max:: Personas máx.</span>
                    <span class="label label-grey-100" ng-show="membresia.tipo_cocina"><i class="fa fa-kitchen icon icon-food"></i> ::membresia.tipo_cocina::</span>
                    <span class="label label-grey-100" ng-show="membresia.sala"><i class="fa fa-fw icon icon-star"></i> Sala</span>
                    <span class="label label-grey-100" ng-show="membresia.tipo_semana"><i class="fa fa-star icon icon-star"></i> Tipo de semana ::membresia.tipo_semana::</span>
                  </p>
                  <p class="margin-none">::membresia.informacion::</p>
                  <div class="text-center small">
                    <span class="label bg-success" ng-show="membresia.precio_venta > 0">Venta ::membresia.precio_venta | currency:"$":0:: ::membresia.moneda_venta::</span>
                    <span class="label bg-primary" ng-show="membresia.precio_renta > 0">Renta ::membresia.precio_renta | currency:"$":0:: ::membresia.moneda_renta::</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/
      <slick class="slick-basic slick-slider" init-onload="true"  data="membresias_recientes" dots="true" infinite="true" speed="300" slides-to-show="5" touch-move="true" slides-to-scroll="3" current-index="inicio" responsive="breakpoints" >
      <div class="item"  data-ng-repeat="membresia in membresias_recientes">
        <div class="panel panel-default relative">
          <div class="ribbon-heading text-h5 ribbon-primary inline margin-none left absolute">::membresia.ciudad::</div>
          <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::">
            <div class="cover hover margin-none">
              <img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::" class="img-responsive" />
            </div>
          </a>
          <div class="panel-body">
            <h4 class="margin-v-0-5">::membresia.club::</h4>
            <p>::membresia.informacion::</p>
            <span class="label label-grey-100" ng-show="membresia.venta">Venta ::membresia.precio_venta | currency:"$":0:: ::membresia.moneda_venta::</span>
            <span class="label label-grey-100" ng-show="membresia.renta">Renta ::membresia.precio_renta | currency:"$":0:: ::membresia.moneda_renta::</span>
            <i class="small fa fa-fw icon-home-fill-1" data-toggle="tooltip" data-title="::membresia.tipo_semana::"></i>
          </div>
        </div>
      </div>
      </slick>-->
    </div>
    
    <!--// END .owl-basic -->
    <div class="page-section">
      <br/>
      <div class="page-header text-center">
        <i class="fa fa-question-circle fa-5x text-grey-300"></i>
        <h3 class="text-h2">Preguntas frecuentes sobre Tiempos Compartidos</h3>
      </div>
      <div class="row text-center">
        <p class="lead">
          Si necesitas mas información accede a las <a href="front/faqs">FAQS</a></p>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            
            <p class="lead">Que es un Tiempo Compartido?</p>
            <p>Es el derecho a disfrutar alojamiento en un complejo o resort específico, regularmente por una semana cada año. Esencialmente pagas por adelantado por el alojamiento de futuras vacaciones anuales.</p>
            <p>Los complejos de tiempo compartido ofrecen lujosas habitaciones mucho más espaciosas que un hotel tradicional además de una serie de beneficios particulares.</p>
          </div>
          <div class="col-md-4 text-center">
            
            <p class="lead">Porque comprar un tiempo compartido de Reventa?</p>
            <p>Porque al comprarle directamente a un propietario ahorras hasta un 70% comparado al precio adquiriéndolo con el desarrollador. Similar al comprarle un auto usado a un particular.</p>
          </div>
          <div class="col-md-4 text-center">
            <p class="lead">Como comprar una membresía?</p>
            <p>Selecciona una publicación, Contacta al propietario y acuerda las condiciones más convenientes para ambos. El trato es realizado 100% entre tú y los propietarios, sin intermediación.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            
            <p class="lead">Puedo probarlo antes decidir una compra?</p>
            <p>Alquila una semana de un Propietario o  Aprovecha una Promoción para probar y conocer un Resort, se requiere generalmente aceptar condiciones y asistir a una presentación de ventas sin compromiso de compra.</p>
          </div>
          <div class="col-md-4 text-center">
            
            <p class="lead">Cuánto me cuesta publicar mi Tiempo Compartido?</p>
            <p>Publicar es un servicio gratuito y exclusivo para Propietarios de Tiempos Compartidos. Si tienes urgencia en Alquilar o Vender selecciona entre varias opciones que encontraras entrando a tu cuenta y al costado de tus publicaciones.</p>
          </div>
          <div class="col-md-4 text-center">
            <p class="lead">Como publicar mi membresía en tiempocompartido.com?</p>
            <p>Regístrate y Accede a tu cuenta. Clic en Publicar membresía. Ten a la mano tu contrato para mayor precisión en la información de tu publicación. Puedes modificar posteriormente entrando a tu cuenta, clic en modificar publicación, no olvides salvar los cambios.</p>
          </div>
        </div>
      </div>
      <!--
      <div class="page-section">
        <br/>
        <div class="page-header text-center">
          <i class="fa fa-comments-o fa-5x text-grey-300"></i>
          <h3 class="text-h2">Testimonos de usuarios de tiempos compatidos</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="media">
              <div class="media-left">
                <img src="images/people/50/guy-6.jpg" alt="People" class="img-circle media-object" />
              </div>
              <div class="media-body">
                <p>En verdad no me imaginaba que sería la mejor experiencia de viaje en familia que podría tener, no solo es mucho mas barato, ¡la exclusividad es increible!.</p>
                <p>
                  <strong>Mario Aldama Casillas. <span class="text-muted">.</span></strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="media-left">
                <img src="images/people/50/guy-2.jpg" alt="People" class="pull-left img-circle media-object" />
              </div>
              <div class="media-body">
                <p>Invito a cualqueira a probar viajar con tiempos compartidos, tengo 10 años viajando con mi familia intercambiando en la red cada año en hoteles sorprendentes, viajando con toda la familia, es maravilloso.</p>
                <p>
                  <strong>Mario A. Robles P. <span class="text-muted">.</span></strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="media-left">
                <img src="images/people/50/guy-9.jpg" alt="People" class="img-circle media-object" />
              </div>
              <div class="media-body">
                <p>No conocia lo que eran los tiempos compartidos, solo puedo decir que es mucho mas barato que pagar noches de hotel viajamos dos familias a los mejores hoteles del mundo, pagando precios increibles, son semanas increibles que vivimos cada año. ¡Los invito a probar!</p>
                <p>
                  <strong>Raúl Villa L. <span class="text-muted">.</span></strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- // END .container -->
      
    </div>
    <div data-ng-include="'partials/subfooter.html'"></div>
  </div>
  <!-- // END .bg-white -->