<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="login-box" class="login-box visible widget-box no-border">
              <div class="widget-body">
                <div class="page-header text-center">
                  <i class="fa fa-home fa-5x text-grey-300"></i>
                  <h3 class="text-h2">Acceso a Tiempo Compartido</h3>
                </div>
                <div class="widget-main">
                  <form name="loginForm" class="form-horizontal" role="form">
                    <div class="form-group">
                      <label class="label-block col-sm-3 text-right" for="email"> Email</label>
                      <div class="input-group date col-sm-9">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input required ng-model="login.email" placeholder="Email" id="email" class="form-control" type="text" name='email' />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label-block col-sm-3 text-right" for="password"> Contraseña</label>
                      <div class="input-group date col-sm-9">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input required ng-model="login.password" placeholder="Contraseña" id="password" class="form-control" type="password" name='password' />
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="row">
                        
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-success btn-xl pull-right" ng-click="doLogin()" data-ng-disabled="loginForm.$invalid">
                          <i class="ace-icon fa fa-key"></i>
                          Accesar
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="row">
                        <div class="col-md-12">
                          <br>
                          <p class="text-center">¿Necesitas una cuenta?
                            <br>
                            <a class="btn btn-primary" href="signup">Crear cuenta</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    
                  </form>
                  </div><!-- /widget-main -->
                  </div><!-- /widget-body -->
                  </div><!-- /login-box -->
                  </div><!-- /position-relative -->
                </div>
                </div><!-- /.page-content -->
              </div>
            </div>
            <div data-ng-include="'partials/subfooter.html'"></div>
          </div>