<div id="content">
	<div class="bg-white">
		<div class="container">
			<div class="page-section">
				<div class="page-header text-center">
					<i class="fa fa-star fa-5x text-grey-300"></i>
					<h1 class="text-h2">Tus propiedades</h1>
					<hr/>
				</div>
				<div class="well" ng-show="showAlertNotFound">
					<h2>No has registrado propiedades</h2>
				</div>
				<div  class="row" ng-repeat="membresia in membresias">
					<div class="panel panel-default ">
					
						<div class="panel-body">
							<div class="col-md-9">
								<div class="media media-clearfix-xs media-clearfix-sm">
									<div class="media-left">
										<p>
											<a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::">
												<div class="cover hover margin-none">
													<img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::"  width="150" class="media-object" />
												</div>
											</a>
										</p>
									</div>
									<div class="media-body">
										<div class="pull-right">
											::membresia.ciudad::, ::membresia.estado::, ::membresia.pais::
										</div>
										<h4 class="media-heading margin-v-0-10">
										<a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::" ui-sref="front.property">::membresia.club::</a>
										<small class="text-grey-400"><i class="fa fa-clock-o fa-fw"></i>::membresia.fecha::</small>
										</h4>
										<p>
											<span class="label label-grey-100" ng-show="membresia.tipo_unidad"><i class="fa fa-fw icon icon-home-2"></i> ::membresia.tipo_unidad::</span>
											<span class="label label-grey-100" ng-show="membresia.dormitorios"><i class="fa fa-fw icon icon-bed"></i> ::membresia.dormitorios:: Cuartos</span>
											<span class="label label-grey-100" ng-show="membresia.banos"><i class="fa fa-fw icon icon-toilet"></i> ::membresia.banos:: Baños</span>
											<span class="label label-grey-100" ng-show="membresia.cap_max"><i class="fa fa-fw fa-user text-red-500"></i> ::membresia.cap_max:: Personas máx.</span>
											<span class="label label-grey-100" ng-show="membresia.tipo_cocina"><i class="fa fa-kitchen icon icon-food"></i> ::membresia.tipo_cocina::</span>
											<span class="label label-grey-100" ng-show="membresia.sala"><i class="fa fa-fw icon icon-star"></i> Sala</span>
											<span class="label label-grey-100" ng-show="membresia.tipo_semana"><i class="fa fa-star icon icon-star"></i> Tipo de semana ::membresia.tipo_semana::</span>
										</p>
										<p class="margin-none">::membresia.informacion::</p>
										<div class="text-center small">
											<span class="label bg-default" ng-show="membresia.precio_venta > 0">Venta ::membresia.precio_venta | currency:"$":0:: ::membresia.moneda_venta::</span>
											<span class="label bg-default" ng-show="membresia.precio_renta > 0">Renta ::membresia.precio_renta | currency:"$":0:: ::membresia.moneda_renta::</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="well">

									<a class="btn btn-success" ng-click='deleteMembresia(::membresia.idMem::)' ><i class="fa fa-star"></i> <span class="">Destacar</span></a>
									<a class="btn btn-success" ng-click='deleteMembresia(::membresia.idMem::)' ><i class="fa fa-certificate"></i> <span class="">Certificar</span></a>


								</div>
							</div>


						</div>


						<div class="panel-body actions text-center">
							
							<a class="btn btn-success" ng-click='uploadImagen(::membresia.idMem::)'><i class="fa fa-image"></i> <span class="">Imagenes</span></a>
							<a class="btn btn-success" ng-click='uploadUbication(::membresia.idMem::)'><i class="fa fa-map-marker"></i> <span class="">Ubicación</span></a>
							<a class="btn btn-info" ng-click='openeditMembresia(::membresia.idMem::)'><i class="fa fa-edit"></i> <span class="">Editar</span></a>
							<a class="btn btn-danger" ng-click='deleteMembresia(::membresia.idMem::)' ><i class="fa fa-close"></i> <span class="">Eliminar</span></a>
							<a class="btn btn-info" ng-click='deleteMembresia(::membresia.idMem::)' ><i class="fa fa-envelope"></i> <span class="">Mensajes</span></a>
							<a class="btn btn-info" ng-click='deleteMembresia(::membresia.idMem::)' ><i class="fa fa-comments"></i> <span class="">Comentarios</span></a>
							<a class="btn btn-warning" ng-click='deleteMembresia(::membresia.idMem::)' ><i class="fa fa-stop"></i> <span class="">Suspender</span></a>
							
						</div>
					</div>
				</div>
				
			</div>	</div>
			<div data-ng-include="'partials/subfooter.html'"></div>
	
	</div>
	<script>
	$(function () {
	
	$(".actions" ).find("a").hover(
	function() {
	$(this).find("span").toggleClass( "sr-only" );
	}
	);
		});	/**/
	</script>