<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">
        <div class="widget-main text-center">
          <i class="fa fa-home fa-5x text-grey-300"></i>
          <h1 class="text-h2">Información de usuario</h1>
          <br>
        </div>
        <form name="perfilForm" role="form">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Usuario ó Compañia</label>
                <input type="text" class="form-control" placeholder="Nombre" ng-model="perfil.user">
              </div>
            </div>
          </div>
          <div class="form-group form-control-default required">
            <label>Email</label>
            <input type="email" class="form-control"placeholder="Email" ng-model="perfil.email" >
          </div>
          <div class="form-group form-control-default required">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="perfil.password">
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Nombre completo del titular de esta cuenta</label>
                <input type="text" class="form-control" placeholder="Nombre" ng-model="perfil.nombre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default">
                <label>Datos ó información extra</label>
                <textarea class="form-control" placeholder="Separados por comas" ng-model="perfil.informacion" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default">
                <label>Teléfono</label>
                <input type="text" class="form-control" placeholder="Lada + 10 Digitos" ng-model="perfil.telefono" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-control-default" required>
                <label>Pais</label>
                <input type="text" class="form-control" placeholder="Residencia" ng-model="perfil.pais" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-control-default">
                <label>Ciudad</label>
                <input type="text" class="form-control" placeholder="Residencia" ng-model="perfil.ciudad" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-control-default required">
                <label>Soy Propietario?</label>
                <select class="form-control" ng-model="perfil.tipo_usuario">
                  <option value="nopropietario" selected>No</option>
                  <option value="propietario">Si</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-control-default">
                <label>Mis datos visibles?</label>
                <select class="form-control" ng-model="perfil.perfil">
                  <option value="0" selected>No</option>
                  <option value="1">Si</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default">
                <label>Destinos de tu interes</label>
                <input type="text" class="form-control" placeholder="Separados por comas" ng-model="perfil.destinos" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div class="form-group form-control-default">
                <label>Foto de perfil</label>
                <img ng-src="::perfil.fotoperfil::" id="preview-image" class="hidden" width="400">
                <input  ng-change="uploadFile(file,perfil.id)" type="file" name="fotoperfil" id="fotoperfil" uploader-model="file">
              </div>


            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right" ng-click="editPerfil(perfil,perfil.id)"  data-ng-disabled="perfilForm.$invalid">Guardar datos</button>
        </form>
      </div>
    </div>
    <!-- // END .container -->
  </div>
  <!-- // END .bg-white -->
  <div data-ng-include="'partials/subfooter.html'"></div>
</div>
<!-- // END #content -->
<script>
$(function () {
/* Imagen adjunta */
function logoPreview(input, img) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
img.attr('src', e.target.result);
};
reader.readAsDataURL(input.files[0]);
}
}
$('#fotoperfil').change(function(){
var previewimage = $('#preview-image');
var allowedExtensions = /(\.jpg|\.jpeg)$/i;
if (!allowedExtensions.exec($(this).val())) {
alert('Debe seleccionar una imagen válida (.jpg, .jpeg).');
$(this).val('');
previewimage.addClass('hidden');
return false;
}
previewimage.removeClass('hidden');
logoPreview(this,previewimage);
});
});
</script>