<div id="content">
	<div class="bg-white">
		<div class="container">
			<div class="page-section">
				<div class="text-center">
					<i class="fa fa-home fa-5x text-grey-300"></i>
					<h1 class="text-h2">Politicas de privacidad</h1>
					<hr/>
					<p class="lead">La privacidad de la informacion de los usuarios es muy importante para tiempocompartido.com.</p>
					<p> Es por esa razon que tomamos las precauciones y recaudos para resguardar su informacion, utilizando los mecanismos de seguridad informatica de proteccion de la informacion mas completos y eficaces en la actualidad.</p>
					<p class="lead">tiempocompartido.com no comparte o vende informacion alguna de los usuarios.</p><p>La informacion recabada solamente es procesada internamente para fines estadisticos.</p>
				</div>
				<br/>
			</div>
		</div>
		<!-- // END .container -->
		<!-- // END .bg-white -->
		<div data-ng-include="'partials/subfooter.html'"></div>
	</div>
</div>