<div id="content">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="widget-main text-center">
          <i class="fa fa-star fa-5x text-grey-300"></i>
          <h1 class="text-h2">Promociones</h1>
          <br/>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default"  ng-repeat="promocion in promociones" >
          <div class="panel-heading"> 
            <a target="::promocion.target::" ng-href="promociones/::promocion.enlace::::promocion.id::/" title="::promocion.titulo::">
            <h2>::promocion.titulo::</h2>
            <img ng-src="http://www.tiempocompartido.com/galeria/promociones/::promocion.tamano::/::promocion.imagen::" alt="::promocion.titulo::"  width="::promocion.tamano::" height="::promocion.alto::" class="media-object" />        
          </a>
          <span class="pull-right">::promocion.fecha::</span>
        </div>
        <div class="panel-body">
          <p class="lead">::promocion.argumento::</p>
          <p ng-bind-html="promocion.detalles"></p>
          <h4>Condiciones</h4>
          <p>::promocion.condiciones::</p>
        </div>


      </div>
      <div class="panel panel-default" ng-show="showEncuesta">
        <div class="panel-heading"> 
          <h2>Encuesta</h2>
          <p>Para hacer válida esta promoción debes contestar la siguiente encuesta:</p>
        </div>
        <div class="panel-body">
          <h2>::encuestaNombre::</h2>          
          <p>::encuestaDescripcion::</p>
          <table class="table table-striped">
            <tbody ng-repeat="pregunta in preguntas">
              <tr>
                <th>::pregunta.espanol::</th>
              </tr>
              <tr>
                <td>
                  <input type="text" class="form-control" />
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2" class="pull-right">
                  <button class="btn btn-success btn-lg">Enviar encuesta</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-ng-include="'partials/subfooter.html'"></div>
</div>