<!--
<div class="page-header text-center">
  <i class="fa fa-star fa-5x text-grey-300"></i>
  <h1 class="text-h2">Propiedades</h1>
  <hr/>
</div>
<div class="container">
  <div data-ng-include="'partials/slider-full.html'"></div>
</div>
 -->
<div class="page-header text-center">
</div>
<div class="page-section">
  <div class="inside-banner">
    <div class="container">
      <span class="pull-right"><a href="inicio">Inicio</a> / Detalle de propiedades</span>
      <h2>::membresia.enlace_des::</h2>
    </div>
  </div>
  <div class="container">
    <div class="property-meta"></div>
    <h3>::membresia.enlace_des::</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <!--<h1>::membresia.enlace_des::</h1> -->
            <div id="carousel-example-generic" class="carousel slide cover overlay overflow-hidden max-height-600 cover-navbar-large-top margin-none" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="::imagen.cont::" ng-class='{active:$first}' ng-repeat="imagen in membresia.imagen"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div ng-class="{active : $first, item : true}"  ng-repeat="imagen in membresia.imagen">
                  <img ng-src="::imagen.dirImgs::::imagen.src::" alt="::imagen.descripcion::" class="width-100pc">
                </div>
              </div>
              <div class="overlay overlay-bg-black">
                <div class="v-bottom">
                  <div class="container">
                    <div class="page-section">
                      <h1 class="text-h1 text-overlay">::membresia.club::</h1>
                      <p class="lead text-overlay">::membresia.ciudad::, ::membresia.estado::, ::membresia.pais::</p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Detalles del inmueble</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="property-facilities list-inline">
                      <li class="property-meta-item" ng-show="membresia.tipo_unidad"><i class="fa fa-fw icon icon-home-2"></i> ::membresia.tipo_unidad::</li>
                      <li class="property-meta-item" ng-show="membresia.dormitorios"><i class="fa fa-fw icon icon-bed"></i> ::membresia.dormitorios:: Cuartos</li>
                      <li class="property-meta-item" ng-show="membresia.banos"><i class="fa fa-fw icon icon-toilet"></i> ::membresia.banos:: Baños</li>
                      <li class="property-meta-item" ng-show="membresia.cap_max"><i class="fa fa-fw fa-user text-red-500"></i> ::membresia.cap_max:: Personas máx.</li>
                      <li class="property-meta-item" ng-show="membresia.tipo_cocina"><i class="fa fa-kitchen icon icon-food"></i> ::membresia.tipo_cocina::</li>
                      <li class="property-meta-item" ng-show="membresia.sala"><i class="fa fa-fw icon icon-star"></i> Sala</li>
                      <li class="property-meta-item" ng-show="membresia.tipo_semana"><i class="fa fa-star icon icon-star"></i> Tipo de semana ::membresia.tipo_semana::</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Servicios</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="property-facilities list-inline">
                      <li ng-repeat="caracteristica in membresia.caracteristicas"><i class="fa fa-star"></i> ::caracteristica::</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" ng-show="membresia.googlemaps.coordenadas" data-toggle="panel-collapse" data-open="true">
              <div class="panel-heading panel-collapse-trigger">
                <h4 class="panel-title">Ubicación en mapa</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9 mapa wow animated shake">
                      <div id="map" class="embed-responsive-item"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default" ng-hide="membresia.googlemaps.coordenadas">
              <div class="panel-heading">
                <h4 class="panel-title">Ubicación en mapa</h4>
              </div>
              <div class="panel-body">
                <p>No se encontraron coordenadas</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="panel bg-transparent">
          <!--
          <h1 class="text-h1 bg-lightred" >::membresia.club::</h1>
          <h3>::membresia.ciudad::, ::membresia.estado::, ::membresia.pais::</h3> -->
          <h3>Información sobre la propiedad</h3>
          <p class="lead">::membresia.informacion::</p>
          
          <div class="well text-h4 bg-lightred" ng-show="membresia.renta">Precio Renta: <strong>::membresia.precio_renta | currency:"$":0::</strong> <small>::membresia.moneda_renta::</small> <strong ng-show="membresia.precio_neg_renta">Negociable</strong></div>
          
          <div class="well text-h4 bg-lightred" ng-show="membresia.venta">Precio Venta: <strong>::membresia.precio_venta | currency:"$":0::</strong> <small>::membresia.moneda_venta::</small> <strong ng-show="membresia.precio_neg_venta">Negociable</strong></div>
          <p class="lead" ng-show="membresia.entrada_renta !== '0000-00-00'">
            <strong>Fecha de entrada: </strong>
          ::membresia.entrada_renta::</p>
          <p class="lead" ng-show="membresia.salida_renta !== '0000-00-00'">
            <strong>Fecha de salida: </strong>
          ::membresia.salida_renta::<br></p>
          
          <p><strong>URL del Club: </strong>
            <a href="::membresia.url::" target="_blank">::membresia.url::</a><br></p>
            <div class="expandable expandable-trigger">
              <div class="expandable-content">
                <p class="lead" ng-show="membresia.info_adicional_ingles != ''">
                  <strong>English info: </strong>
                  ::membresia.info_adicional_ingles::
                </p>
                <p>
                  ::membresia.enlace_des::,
                  <span ng-show="membresia.renta">Rento </span>
                  <span ng-show="membresia.venta">Vendo </span>
                  ::membresia.tipo_unidad:: vacacional,
                  tipo de semana ::membresia.tipo_semana:: con
                  ::membresia.dormitorios:: dormitorios,
                  ::membresia.banos:: baños,
                  capacidad para ::membresia.cap_max:: personas máximo,
                  capacidad con privacidad de ::membresia.cap_privacidad:: personas,
                  ::membresia.tipo_cocina:: y mucho mas..
                </p>
              </div>
            </div>
          </div>
        </div>
         <!--
        <div class="col-md-3 col-sm-4 hidden-xs">
          Promociones
          <div class="advertisement">
            <h4>Promociones</h4>

            <div class="well"  ng-repeat="promocion in promociones" >
              <a target="::promocion.target::" ng-href="promociones/::promocion.enlace::/::promocion.id::/" title="::promocion.titulo::">
                <div class="cover hover margin-none">
                  <img ng-src="http://www.tiempocompartido.com/galeria/promociones/::promocion.tamano::/::promocion.imagen::" alt="::promocion.titulo::"  width="::promocion.tamano::" height="::promocion.alto::" class="media-object" />
                  <p>::promocion.descripcion::</p>
                </div>
              </a>
            </div>

          </div> -->
          <!-- Publicidad
          <div class="advertisement">
            <h4>Publicidad</h4>

            <div class="well"  ng-repeat="publicidad in publicidades" >
              <a target="::publicidad.target::" ng-href="publicidad/::publicidad.enlace::/::publicidad.id::/" title="::publicidad.titulo::">
                <div class="cover hover margin-none">
                  <img ng-src="http://www.tiempocompartido.com/galeria/publicidad/::publicidad.tamano::/::publicidad.imagen::" alt="::publicidad.titulo::"  width="::publicidad.tamano::" height="::publicidad.alto::" class="media-object" />
                  <p>::publicidad.descripcion::</p>
                </div>
              </a>
            </div>

          </div>

        </div> -->
      </div>
    </div>
  </div>
  
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="expandable expandable-trigger">
            <div class="expandable-content" style="min-height: 250px;">
              <h4>Comentarios</h4>
              <form>
                <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="Agrega tus comentarios.." ng-model="comentario"></input>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="agregaComentario()"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </form>
              <section ng-class="{'comment-reply': comentario.lresp}"
                ng-repeat="comentario in membresia.comentarios">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="media">
                      <a class="media-left" href="">
                        <img class="media-object" src="images/people/usuario.png" alt="people" />
                      </a>
                      <div class="media-body">
                        <small class="text-grey-400 pull-right">::comentario.fecha::</small>
                        <h5 class="media-heading margin-v-5">::comentario.user::</h5>
                        <p class="margin-none">::comentario.texto::</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Acerca del propietario</h4>
          <div class="media media-clearfix-xs-min">
            <div class="media-left text-center">
              <img class="thumbnail media-object" src="images/people/usuario.png" alt="people" />
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalPropietario">
              Contactar propietario
              </button>
            </div>
            <div class="media-body">
              <div class="expandable expandable-trigger" ng-show="membresia.usuario.perfil">
                <div class="expandable-content expandable-content-medium">
                  
                  <ul class="property-facilities">
                    <li><strong>Nombre: </strong>::membresia.usuario.nombre::</li>
                    <li><strong>Status: </strong>::membresia.usuario.status::</li>
                    <li><strong>Información adicional: </strong>::membresia.usuario.informacion::</li>
                    <li><strong>Tipo de usuario: </strong>::membresia.usuario.tipo_usuario::</li>
                    <li><strong>Email: </strong>::membresia.usuario.email::</li>
                    <li><strong>Ciudad: </strong>::membresia.usuario.ciudad::</li>
                    <li><strong>Pais: </strong>::membresia.usuario.pais::</li>
                    <li><strong>Lenguaje: </strong>::membresia.usuario.lenguajes::</li>
                    <li><strong>Telefono: </strong>::membresia.usuario.telefono::</li>
                    <li><strong>Interesado en viajar a: </strong>::membresia.usuario.destinos::</li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <h3 class="page-section-heading">Propiedades relacionadas</h3>
      
      <div class="row">
        <!--<div class="col-md-3">
          <div class="well">PUBLICIDAD</div>
          <div class="well">PUBLICIDAD</div>
          <div class="well">PUBLICIDAD</div>
          <div class="well">PUBLICIDAD</div>
        </div>-->
        <div class="col-md-offset-2 col-md-8">
          <div class="panel panel-default " ng-repeat="membresia in relacionadas">
            <div class="panel-body">
              <div class="media media-clearfix-xs media-clearfix-sm">
                <div class="media-left">
                  <p>
                    <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::">
                      <div class="cover hover margin-none">
                        <img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::"  width="150" class="media-object" />
                      </div>
                    </a>
                  </p>
                </div>
                <div class="media-body">
                  <div class="pull-right">
                    ::membresia.ciudad::, ::membresia.estado::, ::membresia.pais::
                  </div>
                  <h4 class="media-heading margin-v-0-10">
                  <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::" ui-sref="front.property">::membresia.club::</a>
                  <small class="text-grey-400"><i class="fa fa-clock-o fa-fw"></i>::membresia.fecha::</small>
                  </h4>
                  <p>
                    <span class="label label-grey-100" ng-show="membresia.tipo_unidad"><i class="fa fa-fw icon icon-home-2"></i> ::membresia.tipo_unidad::</span>
                    <span class="label label-grey-100" ng-show="membresia.dormitorios"><i class="fa fa-fw icon icon-bed"></i> ::membresia.dormitorios:: Cuartos</span>
                    <span class="label label-grey-100" ng-show="membresia.banos"><i class="fa fa-fw icon icon-toilet"></i> ::membresia.banos:: Baños</span>
                    <span class="label label-grey-100" ng-show="membresia.cap_max"><i class="fa fa-fw fa-user text-red-500"></i> ::membresia.cap_max:: Personas máx.</span>
                    <span class="label label-grey-100" ng-show="membresia.tipo_cocina"><i class="fa fa-kitchen icon icon-food"></i> ::membresia.tipo_cocina::</span>
                    <span class="label label-grey-100" ng-show="membresia.sala"><i class="fa fa-fw icon icon-star"></i> Sala</span>
                    <span class="label label-grey-100" ng-show="membresia.tipo_semana"><i class="fa fa-star icon icon-star"></i> Tipo de semana ::membresia.tipo_semana::</span>
                  </p>
                  <p class="margin-none">::membresia.informacion::</p>
                  <div class="text-center small">
                    <span class="label label-grey-100" ng-show="membresia.precio_venta">Venta ::membresia.precio_venta | currency:"$":0:: ::membresia.moneda_venta::</span>
                    <span class="label label-grey-100" ng-show="membresia.precio_renta">Renta ::membresia.precio_renta | currency:"$":0:: ::membresia.moneda_renta::</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <slick class="slick-basic slick-slider" init-onload="true"  data="relacionadas" dots="true" infinite="true" speed="300" slides-to-show="5" touch-move="true" slides-to-scroll="3" current-index="inicio" responsive="breakpoints" >
  <div class="item"  data-ng-repeat="membresia in relacionadas">
    <div class="panel panel-default relative">
      <div class="ribbon-heading text-h5 ribbon-primary inline margin-none left absolute">::membresia.ciudad::</div>
      <a ng-href="catalogo/::membresia.enlace::::membresia.idMem::/" title="::membresia.enlace_des::">
        <div class="cover hover margin-none">
          <img ng-src="::membresia.imagen[0].dirImgsThumbs::::membresia.imagen[0].src::" alt="::membresia.club::" class="img-responsive" />
        </div>
      </a>
      <div class="panel-body">
        <h4 class="margin-v-0-5">::membresia.club::</h4>
        <p>::membresia.informacion::</p>
        <span class="label label-grey-100" ng-show="membresia.venta">Venta ::membresia.precio_venta | currency:"$":0:: ::membresia.moneda_venta::</span>
        <span class="label label-grey-100" ng-show="membresia.renta">Renta ::membresia.precio_renta | currency:"$":0:: ::membresia.moneda_renta::</span>
        <i class="small fa fa-fw icon-home-fill-1" data-toggle="tooltip" data-title="::membresia.tipo_semana::"></i>
      </div>
    </div>
  </div>
  </slick>
</div>
</div> -->
<!-- Modal -->
<div class="modal fade" id="modalPropietario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Contactar propietario</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <form action="#">
          <div class="col-lg-6">
            <div class="form-group form-control-default required">
              <label for="fullname">Nombre completo</label>
              <input type="text" placeholder="Ingresa tu nombre completo" ng-model="contacto.fullname" class="form-control" id="fullname" />
            </div>
            <div class="form-group form-control-default required">
              <label for="phone">Teléfono con Lada </label>
              <input type="text" placeholder="Ingresa tu teléfono (LADA) + 10 Dígitos"  ng-model="contacto.telefono"class="form-control" id="phone" />
              
            </div>
            <div class="form-group form-control-default required">
              <label for="email">Dirección de Correo electrónico </label>
              <input type="text" placeholder="Ingresa tu Email" class="form-control" ng-model="contacto.email" id="email" />
            </div>
            <div class="form-group form-control-default ">
              <label for="action">Me interesa para:</label>
              <select name="" ng-model="contacto.interes" id="action" class="form-control">
                <option value="Renta">Renta</option>
                <option value="Compra">Compra</option>
              </select>
            </div>
          </div>
          
          
          <div class="col-md-6 visible-lg text-center">
            <div class="profile">
              <img src="images/people/usuario.png" alt="people" class="img-circle" />
              <h4 class="sidebar-heading">::membresia.usuario.user::</h4>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group form-control-default required">
              <label for="mensaje">Mensaje </label>
              <textarea ng-model="contacto.mensaje" placeholder="Ingresa tu Mensaje" class="form-control" name="mensaje" id="mensaje"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="enviarContacto()">Enviar</button>
      </div>
    </div>
  </div>
</div>
</div>
<div data-ng-include="'partials/subfooter.html'"></div>
</div>