<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">
        <br/>
        <div class="page-header text-center">
          <i class="fa fa-share fa-5x text-grey-300"></i>
          <h3 class="text-h2">Publica tu propiedad sin costo!</h3>
        </div>
        <div class="row text-center">
          <p class="lead">
          En Tiempo Compartido te regalamos el medio para poder vender, comprar o rentar tu propiedad vacacional o tiempo compartido.</p>
          <p class="lead"> Sigue estos pasos para publicar tu propiedad vacacional ó tiempo compartido en nuestro sistema:</p>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            
            <p class="lead">Primeramente</p>
            <a href="signup" class="btn btn-info circle-button">Crear una cuenta</a>
          </div>
          <div class="col-md-4 text-center">
            
            <p class="lead">Si ya tienes una cuenta</p>
            <a href="login" class="btn btn-info circle-button">Accesar al sistema</a>
          </div>
          <div class="col-md-4 text-center">
            <p class="lead">Desde tus opciones</p>
            <a href="publicar" class="btn btn-info circle-button">Publicar propiedad</a>
          </div>
        </div>
      </div>
      
    </div>
    <div data-ng-include="'partials/subfooter.html'"></div>
  </div>
</div>