<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">

        <div class="page-header text-center">
          <i class="fa fa-home fa-5x text-grey-300"></i>
          <h3 class="text-h2">Publicar propiedad</h3>
        </div>

        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Titulo</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.titulo" name='titulo'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Club</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.club" name='club'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Pais</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.pais" name='pais'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Estado</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.estado" name='estado'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Ciudad</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.ciudad" name='ciudad'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Afiliado</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.afiliado" name='afiliado'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Caracteristicas</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.caracteristicas" name='caracteristicas'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Info Adicional</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.info_adicional" name='info_adicional'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Info Adicional Ingles</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.info_adicional_ingles" name='info_adicional_ingles'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Url</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.url" name='url'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Tipo Semana</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.tipo_semana" name='tipo_semana'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Tipo Unidad</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.tipo_unidad" name='tipo_unidad'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Tipo Unidad Ing</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.tipo_unidad_ing" name='tipo_unidad_ing'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Lock Off</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.lock_off" name='lock_off'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Sala</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.sala" name='sala'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Dormitorios</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.dormitorios" name='dormitorios'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Banos</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.banos" name='banos'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Tipo Cocina</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.tipo_cocina" name='tipo_cocina'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Cap Privacidad</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.cap_privacidad" name='cap_privacidad'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Cap Max</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.cap_max" name='cap_max'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Res Num Sem</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.res_num_sem" name='res_num_sem'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Res Freq Sem</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.res_freq_sem" name='res_freq_sem'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Venta</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.venta" name='venta'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Renta</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.renta" name='renta'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Intercambio</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.intercambio" name='intercambio'/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-control-default required">
                <label>Importe Compra</label>
                <input type='text' class="form-control" placeholder="" ng-model="membresia.importe_compra" name='importe_compra'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Ocultar Importe</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.ocultar_importe" name='ocultar_importe'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Fecha Compra</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.fecha_compra" name='fecha_compra'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Ocultar Fecha</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.ocultar_fecha" name='ocultar_fecha'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Caducidad Compra</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.caducidad_compra" name='caducidad_compra'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Sin Caducidad</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.sin_caducidad" name='sin_caducidad'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Anos Restantes</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.anos_restantes" name='anos_restantes'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Importe Mantenimiento</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.importe_mantenimiento" name='importe_mantenimiento'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Entrada Renta</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.entrada_renta" name='entrada_renta'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Salida Renta</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.salida_renta" name='salida_renta'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Precio Renta</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.precio_renta" name='precio_renta'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Precio Venta</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.precio_venta" name='precio_venta'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Ubicacion</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.ubicacion" name='ubicacion'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Capacidad Inter</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.capacidad_inter" name='capacidad_inter'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Destino Inter</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.destino_inter" name='destino_inter'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Diferencia Inter</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.diferencia_inter" name='diferencia_inter'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>IdUser</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.idUser" name='idUser'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Moneda Renta</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.moneda_renta" name='moneda_renta'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Moneda Venta</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.moneda_venta" name='moneda_venta'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Status</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.status" name='status'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Tel Contacto</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.tel_contacto" name='tel_contacto'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Fecha</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.fecha" name='fecha'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Fecha Actualizacion</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.fecha_actualizacion" name='fecha_actualizacion'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Especial</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.especial" name='especial'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Num Pais</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.num_pais" name='num_pais'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Num Estado</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.num_estado" name='num_estado'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Moneda Cuota</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.moneda_cuota" name='moneda_cuota'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Fija Datos</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.fija_datos" name='fija_datos'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Puntos Datos</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.puntos_datos" name='puntos_datos'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Noches Datos</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.noches_datos" name='noches_datos'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Flotante Datos</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.flotante_datos" name='flotante_datos'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Destacar</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.destacar" name='destacar'/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-control-default required">
              <label>Fecha Destacado</label>
              <input type='text' class="form-control" placeholder="" ng-model="membresia.fecha_destacado" name='fecha_destacado'/>
            </div>
          </div>
        </div>
        <p><input type='submit' class="btn btn-primary" value='Publicar propiedad'  ng-click="addMembresia(membresia)" /><input type='hidden' value='1' name='submitted' />
      </form>
      
      
    </div>
    <!-- // END .container -->
  </div>
  <!-- // END .bg-white -->
  
  <div data-ng-include="'partials/subfooter.html'"></div>
</div>
<!-- // END #content -->