<div id="content">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="widget-main text-center">
          <i class="fa fa-star fa-5x text-grey-300"></i>
          <h1 class="text-h2">Publicidad</h1>
          <br/>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default"  ng-repeat="publicidad in publicidades" >
          <div class="panel-heading">
            <a target="::publicidad.target::" ng-href="publicidades/::publicidad.enlace::/::publicidad.id::/" title="::publicidad.titulo::">
              <h2>::publicidad.titulo::</h2>
              <img ng-src="http://www.tiempocompartido.com/galeria/publicidad/::publicidad.tamano::/::publicidad.imagen::" alt="::publicidad.titulo::"  width="::publicidad.tamano::" height="::publicidad.alto::" class="media-object" />
            </a>
            <span class="pull-right">::publicidad.fecha::</span>
          </div>
          <div class="panel-body">
            <p class="lead">::publicidad.argumento::</p>
            <p>::publicidad.descripcion::</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-include="'partials/subfooter.html'"></div>
</div>