<div id="content">
	<div class="bg-white">
		<div class="container">
			<div class="page-section">
				<div class="text-center">
					<i class="fa fa-home fa-5x text-grey-300"></i>
					<h1 class="text-h2">Quienes somos</h1>
					<hr/>
					<p class="lead">Servicio Libre a Nivel Mundial Sin Intermediacion Para Renta de Tiempo Compartido, Venta de Tiempo Compartido e Intercambio de Tiempo Compartido.</p>
				</div>
				<br/>
			</div>
			<!-- // END .owl-basic -->
		</div>
		<!-- // END .container -->
	</div>
	<div data-ng-include="'partials/subfooter.html'"></div>
</div>