<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="login-box" class="login-box visible widget-box no-border">
              <div class="widget-body">
                <div class="page-header text-center">
                  <i class="fa fa-home fa-5x text-grey-300"></i>
                  <h3 class="text-h2">Registro de usuarios</h3>
                </div>
                <div class="widget-main">
                  <form name="signupForm" role="form">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-control-default required">
                          <label>Usuario ó Compañia</label>
                          <input type="text" class="form-control" placeholder="Nombre" ng-model="signup.user" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-control-default required">
                      <label>Email</label>
                      <input type="email" class="form-control"placeholder="Email" ng-model="signup.email" required>
                    </div>
                    <div class="form-group form-control-default required">
                      <label>Password</label>
                      <input type="password" class="form-control" placeholder="Password" ng-model="signup.password" required>
                    </div>
                    <div class="form-group form-control-default required">
                      <label>Repetir password</label>
                      <input type="password" class="form-control" placeholder="Password" ng-model="signup.repassword" required>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-control-default required">
                          <label>Nombre completo del titular de esta cuenta</label>
                          <input type="text" class="form-control" placeholder="Nombre" ng-model="signup.nombre" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-control-default">
                          <label>Datos ó información extra</label>
                          <textarea class="form-control" placeholder="Separados por comas" ng-model="signup.informacion"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-control-default">
                          <label>Teléfono</label>
                          <input type="text" class="form-control" placeholder="Lada + 10 Digitos" ng-model="signup.telefono" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-control-default required">
                          <label>Pais</label>
                          <input type="text" class="form-control" placeholder="Residencia" ng-model="signup.pais" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-control-default required">
                          <label>Ciudad</label>
                          <input type="text" class="form-control" placeholder="Residencia" ng-model="signup.ciudad" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-control-default required">
                          <label>Soy Propietario?</label>
                          <select class="form-control" ng-model="signup.tipo_usuario" required>
                            <option value="nopropietario" selected>No</option>
                            <option value="propietario">Si</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-control-default required">
                          <label>Mis datos visibles?</label>
                          <select class="form-control" ng-model="signup.perfil" required>
                            <option value="0" selected>No</option>
                            <option value="1">Si</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-control-default">
                          <label>Destinos de tu interes</label>
                          <input type="text" class="form-control" placeholder="Separados por comas" ng-model="signup.destinos" >
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="row">
                        
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-success btn-xl pull-right" ng-click="signUp(signup)"  data-ng-disabled="signupForm.$invalid">
                          <i class="ace-icon fa fa-user"></i>
                          Registrarme
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="row">
                        <div class="col-md-12">
                          <br>
                          <p class="text-center">¿Ya tienes una cuenta?
                            <br>
                            <a class="btn btn-primary" href="login">Accesar</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        </div><!-- /.page-content -->
      </div>
    </div>
    <div data-ng-include="'partials/subfooter.html'"></div>
  </div>