<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">
        <div class="widget-main text-center">
          <i class="fa fa-home fa-5x text-grey-300"></i>
          <h1 class="text-h2">Administrar imagenes</h1>
          <hr/>
          <br/>
          <a class="btn btn-info pull-left" ng-href="mismembresias">
          <i class="fa fa-arrow-left"></i> Volver</a>
          <br>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="well" style="overflow:hidden;">
              <form name="upload" ng-submit="uploadFile()">
                <img ng-show="showImage" ng-src="::src::" class="img-responsive">
                <img ng-show="!showImage" src="" id="preview-image" class="hidden" class="img-responsive">
                <br>
                <input ng-show="!showImage" type="file" name="imageUpload" id="imageUpload" uploader-model="file">
                <br>
                <input type="text" placeholder="Descripción de imagen" ng-model="name" class="form-control" /><br>
                <input ng-show="!edicion" type="submit" class="btn btn-success pull-right" value="Cargar" />
              </form>
              <div class="text-right">
                <button ng-show="edicion" ng-click="editSubmit(id)" class="btn btn-success">Actualizar</button>
                <button ng-show="edicion" ng-click="limpiarInputs()" class="btn btn-warning">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="widget-main text-center">
          <h1 class="text-h2">Imagenes cargadas</h1>
          <hr/>
          <br/>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline">
              <li ng-repeat="imagen in imagenes" class="text-center" >
                <img ng-src="::imagen.nombre::" width="150"><br>
                <span ng-click="deleteImage(::imagen.id::)" class="btn btn-warning"><i class="fa fa-close"></i></span>
                <span ng-click="getImage(::imagen.id::)" class="btn btn-info"><i class="fa fa-edit"></i></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- // END .container -->
  </div>
  <!-- // END .bg-white -->
  <div data-ng-include="'partials/subfooter.html'"></div>
</div>
<!-- // END #content -->
<script>
$(function () {
/* Imagen adjunta */
function logoPreview(input, img) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
img.attr('src', e.target.result);
};
reader.readAsDataURL(input.files[0]);
}
}
$('#imageUpload').change(function(){
var previewimage = $('#preview-image');
var allowedExtensions = /(\.jpg|\.jpeg)$/i;
if (!allowedExtensions.exec($(this).val())) {
alert('Debe seleccionar una imagen válida (.jpg, .jpeg).');
$(this).val('');
previewimage.addClass('hidden');
return false;
}
previewimage.removeClass('hidden');
logoPreview(this,previewimage);
});
});
</script>