<div id="content">
  <div class="bg-white">
    <div class="container">
      <div class="page-section">
        <div class="widget-main text-center">
          <i class="fa fa-home fa-5x text-grey-300"></i>
          <h1 class="text-h2">Administrar Ubicación</h1>
          <hr/>
          <br/>
          <a class="btn btn-info pull-left" ng-href="#mismembresias">
          <i class="fa fa-arrow-left"></i> Volver</a>
          <br>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <table class="table">
                <tr>
                  <td>
                    <label for="address">Lugar</label>
                    <label class="hide">Latitud</label>
                    <input type="text" ng-model="ubicacion.latitude" name="lat" id="lat" value="x" />
                    <label class="hide">Longitud</label>
                    <input type="text" ng-model="ubicacion.longitude" name="lng" id="lng" value="x" />
                  </td>
                  <td>
                    <input type="text" name="address" id="address" placeholder="Av. López Mateos #1234, Guadalajara, Jalisco, México" class="form-control" />
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div class='map-wrapper'>
                      <p id="geo_label" for="reverseGeocode">¿Actualizar dirección al arrastrar el marcador?
                        <select name="reverseGeocode" id="reverseGeocode">
                          <option value="false" selected>No</option>
                          <option value="true">Si</option>
                        </select></p>
                        
                        <br/>
                        <div id="map_canvas" style="width: 400px; height: 280px; margin: 0 auto;"></div>
                        <div id="callback_result" class="hidden"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <input ng-click="saveUbication()" type="submit" class="btn btn-success pull-right" value="Guardar ubicación" />
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- // END .container -->
    </div>
    <!-- // END .bg-white -->
    <div data-ng-include="'partials/subfooter.html'"></div>
  </div>
  <!-- // END #content -->
  <script>
  $(function () {
  /*
  * Maps
  */
  var lat, lng;
  lat = $('#lat').val();
  lng = $('#lng').val();
  var addresspickerMap = $('#address').addresspicker({
  regionBias: "mx",
  updateCallback: showCallback,
  mapOptions: {
  zoom: 16,
  center: new google.maps.LatLng(lat,lng),
  scrollwheel: true,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  streetViewControl: false
  },
  elements: {
  map:      "#map_canvas",
  lat:      "#lat",
  lng:      "#lng",
  //street_number: '#street_number',
  //route: '#route',
  //locality: '#locality',
  //postal_code: '#postal_code',
  type:    '#type'
  }
  });
  var gmarker = addresspickerMap.addresspicker("marker");
  gmarker.setVisible(true);
  addresspickerMap.addresspicker("updatePosition");
  var map = addresspickerMap.addresspicker("map");
  $('#reverseGeocode').change(function(){
  $("#address").addresspicker("option", "reverseGeocode", ($(this).val() === 'true'));
  });
  function showCallback(geocodeResult, parsedGeocodeResult){
  $('#callback_result').text(JSON.stringify(parsedGeocodeResult, null, 4));
  }
  });
  </script>